.chat-content
  - if @messages
    - @messages.each do |m|
      %p.chat-content__users
        = m.user.name
        %span.chat-content__time= m.created_at.strftime("%Y/%m/%d/ %H:%M:%S")
      %p.chat-content__message
        = m.body
      -if m.image?
        = image_tag m.image, size: "300x200"
