.chat
  .chat__user
    %p.name kurosawa
    = link_to root_path, :method => :get ,  :method => :get , class: "chat-user__action" do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_path(current_user), :method => :get , class: "chat-user__actions" do
      %i.fa.fa-cog
  .chat__group
    %p.chat__group__name test グループ
    %p.chat__group__mmessage まだメッセージはありません。
    %p.chat__group__name__add test グループ
    %p.chat__group__mmessage__add まだメッセージはありません。
.chat-main
  .chat-main__group
    %h2 test
    %input.edit{:type => "submit", :value => "Edit"}/
    %p.chat-main__users
      Members:
      %span.chat-main__user kurosawa
  .chat-content
    %p.chat-content__users
      kurosawa
      %span.chat-content__time 2016/01/01 08:09:33
    %p.chat-content__message
      hello
  .chat-content__fotter
    .text
      %textarea.texts{:name => "text", :placeholder => "type a message", :rows => "1"}
      .test
        %label.chat-footer__file
          %input#message_image{:name => "message[image]", :type => "file"}/
          %i.fa.fa-image
      %input.sent{:type => "submit", :value => "Send"}/
