.chat
  .chat__user
    %p.name=  current_user.name
    = link_to new_group_path, class: "chat-user__action" do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_path(current_user), class: "chat-user__actions" do
      %i.fa.fa-cog
  = render partial: "sidebar"
