.chat__group
  - @groups.each do |group|
    .chat__group__link
      = link_to group_messages_path(group), class: :"chat__group__links"  do
        %p.chat__group__name
          = group.name
        %p.chat__group__mmessage まだメッセージはありません。
